.container {
    width: 960px;
    margin: 0 auto;
    height: 100vh;
    //padding: 20px;
    text-align: left;
    //border: 1px solid red;

    .wrapper {
        //margin: 100px 200px;
        border: 1px solid grey;
        //height: calc(100vh - 200px);
        padding: 60px;

        .title{
            padding-bottom: 20px;
            text-align: center;
        }

        .sub-title {
            border-bottom: 1px solid grey;
            margin-bottom: 20px;
        }

        .content {
            padding-bottom: 20px;
        }
    }
}

@media print {
    @page {
        size: auto;   /* auto is the initial value */
        //margin: 0;  /* this affects the margin in the printer settings */
        margin-top: 0;
        margin-bottom: 0;
    }

    body{
        margin: 100px auto;
    }
}