.container {
    width: 960px;
    margin: 0 auto;
    height: 100vh;
    text-align: left;
    //font-family: 'Open Sans', sans-serif;
    //border: 1px solid red;

    .wrapper {
        //margin: 100px 200px;
        //border: 1px solid grey;
        //height: calc(100vh - 200px);
        padding: 60px;
        //height: 100vh;
        .title{
            padding-bottom: 20px;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            padding-top: 10px;
        }

        .sub-title {
            border-bottom: 1px solid grey;
            margin-bottom: 20px;
            font-weight: 600;
        }

        .mark-content {
            padding-bottom: 20px;
            span {
                font-size: 18px;
                &.icon {
                    margin-right: 10px;
                }
            }
        }

        .content {
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            padding-bottom: 11px;

            p {
                font-size: 16px;
                font-weight: 600;
            }

            span {
                font-size: 18px;

                &.icon {
                    margin-right: 10px;
                }

                &.text {
                    font-size: 16px;
                }
            }
        }
    }
}

@media print {
    @page {
        size: auto;   /* auto is the initial value */
        margin-top: 0;
        margin-bottom: 0px;
    }

    body {
        //margin: 100px auto;
        .organization-info {
            page-break-after: always;
            //margin: 0cm;
            margin: 0cm;
            margin-bottom: 10cm;
            padding-top: 0px;
        }
        .outlet-info { 
            margin-top: 5cm; 
            margin-bottom: 5cm; 
            page-break-after: always;
        } 
    }
}