#create-note {
  textarea {
    resize: none;
    display: block;
    height: 160px;
    width: 100%;
    padding: 20px;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
  }

select {
  padding: 5px 20px;
}
}