.side-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background: #7E57C2 !important;
  box-shadow: 0px 0px 4px 1px #673AB7;
  .side-menu__item {
    width: 100%;
    background: #7E57C2 !important;
    &:not(:last-child) {
      border-bottom: 1px solid #7E57C2;
    }
    a {
      font-size: 14px;
      font-weight: 400;
      //font-family: 'Montserrat', sans-serif;
      display: block;
      padding: 20px 20px;
      text-decoration: none;
      color: #fff;
    }
    &.active, &:hover {
      a {
        color: #fff;
        background-color: #9575CD;
      }
    }
  }
}
