.navbar {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7E57C2 !important;
    color: #ffffff;
    height: 60px;
    box-shadow: 1px 1px 5px 0 rgba(21, 19, 19, 0.9);

    .title {
        cursor: pointer;
    }

    .logout {
        cursor: pointer;
    }
}